html {
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}
body {
  position: relative;
}

.animal-list {
  display: none;
  position: absolute;
  background-color: aliceblue;
  list-style: none;
  padding: 0;
}
li {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}
li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.box {
  position: absolute;
}
